<%= simple_form_for @season do |f| %>
  <h3>Games</h3>
  <div>
    <%= f.simple_fields_for :games do |game| %>
      <%= render 'game_fields', :f => game %>
    <% end %>
    <div>
      <%= link_to_add_association 'add game', f, :games %>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>


<% @season.games.each do |g| %>
<div id='game_<%=g.id %>'>
  <%= link_to g.date.strftime('%A, %d %b %Y %l:%M %p'), game_path(g) %>
  <%= link_to g.home_team.name, game_path(g) %>
  <%= link_to g.away_team.name, game_path(g) %>
  <%= link_to game_path(g),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'are you sure?' },
                    class: "pull-right" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <hr>
  </div>

<% end %>
