Select Which Season you would like to edit the Schedule of:

<%= form_tag seasons_path, :method => 'get' do %>
  <%= collection_select :game, :season_id, Season.order(name: :desc), :id, :name, prompt: 'Season' %>
  <%= submit_tag 'Filter' %>
<% end %>
<hr>

<% @games.each do |g| %>
<div id='game_<%=g.id %>'>
  <%= link_to g.date.strftime('%A, %d %b %Y %l:%M %p'), game_path(g) %>
  <%= link_to g.home_team.name, game_path(g) %>
  <%= link_to g.away_team.name, game_path(g) %>
  <%= link_to game_path(g),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'are you sure?' },
                    class: "pull-right" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <hr>
  </div>

<% end %>
