
<%= simple_form_for @game do |f| %>
  <div>
    <%= f.simple_fields_for :goals do |goal| %>
      <%= render 'goal_fields', f: goal, g: @game %>
    <% end %>
    <div>
      <%= link_to_add_association 'add goal', f, :goals %>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
