<%= @game.errors.full_messages.join(', ') %>


<%= simple_form_for @game, html: { class: 'form-vertical' } do |f| %>
    <div class="dropdown">
        <%= f.association :season, collection: Season.order(:name) %>
    </div>

    <div class="dropdown">
      <%= f.datetime_select :date,  :minute_step => 15, :ampm => true %>
    </div>

    <div class="dropdown">
      <%= f.association :home_team, collection: Team.order(:name)
 %>
    </div>

    <div class="dropdown">
      <%= f.association :away_team, collection: Team.order(:name)
 %>
    </div>



    <div class="submit">
        <%= f.submit "Submit" %>
    </div>
<% end %>
