<div class="w3-padding-large">
  <div class="w3-content w3-justify w3-text-grey w3-padding-64">
    <% if @game.scheduled? %>
      <h1> <%= @game.date.strftime('%A, %d %b %Y %l:%M %p') %>: - </h1>
      <h1> <%= @game.home_team.name %>: - </h1>
      <h1> <%= @game.away_team.name %>: - </h1>
    <% elsif @game.played? %>
      <div> Final </div>
      <h1> <%= @game.home_team.name %>: <%= @home_team_goals.count %></h1>
      <h1> <%= @game.away_team.name %>: <%= @away_team_goals.count %> </h1>
    <% end %>
    <%= link_to 'Edit Game', edit_game_path(@game) %>
  </div>
</div>
