<!DOCTYPE html>
<html>
  <head>
    <title>Zain Sucks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  </head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Portfolio</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li>
            <%= link_to 'About', root_path %>
          </li>
          <li>
            <%= link_to 'Create Schedule', root_path %>
          </li>
          <li>
            <%= link_to 'Statistics', root_path %>
          </li>
          <li>
            <%= link_to 'Standings', root_path %>
          </li>
          <li>
            <%= link_to 'New Game Stats Input', new_game_path %>
          </li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <a> See Your Stats </a>
            </li>

            <li>
              <%= button_to 'Sign out',
                sessions_path,
                method: :delete,
                class: 'btn btn-default navbar-btn'
                %>
              </li>

          <% else %>
            <li><%= link_to 'Sign up with email', new_user_path %></li>
            <li><%= link_to 'Sign In', new_session_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>






<!-- Page Content -->

    <%= yield %>
  </body>
</html>
